<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/Kan1shka9" target="_blank">@Kan1shka9</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/Kan1shka9" target="_blank">@Kan1shka9</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/kan1shka9" target="_blank">linkedin.com/in/kan1shka9</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://kan1shka9.me" target="_blank">kan1shka9.me</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:kanishka.s9@gmail.com" target="_blank">kanishka.s9@gmail.com</a></p>
